.user
    if !user
        form#login
            fieldset
                legend= profile.authorization
                input(placeholder=profile.username,name='username',type='text')
                br
                input(placeholder=profile.password,name='password',type='password')
                br
                input(type='checkbox' name='rememberme')
                label(for='rememberme')= profile.rememberme
                br
                button(type='submit')= profile.login
                br 
                a(href='/registration')= profile.registration
                |  | 
                a(href='/reset-password')= profile.resetpassword
    else
        p Welcome, dear !{user.firstname || user.lastname ? `${user.firstname} ${user.lastname}` : user.username}!!!
        a(href=`profile/${user.username}`)= profile.profile
        br
        a#logout(href="/logout")= profile.logout
    script.
        $('#login').submit(function(event){
            event.preventDefault();
            let form = $(this).serialize();
            $.ajax({
                type: 'post',
                url: '/login',
                data: form,
                success: function(){
                    location.reload();
                },
                error: function(err){
                    console.log(err.status);
                }
            });
        });
        $('#logout').click(function(event) {
            event.preventDefault();
            $.post($(this).attr('href'));
        });
