extends ../layouts/simple

block content
    main
        form
            fieldset
                legend=edit.title
                lable(for='firstname')=userProperties.firstname
                br
                input(name='firstname',type='text',placeholder=userProperties.firstname,value=user.firstname)
                p
                lable(for='lastname')=userProperties.lastname
                br
                input(name='lastname',type='text',placeholder=userProperties.lastname,value=user.lastname)
                p
                lable(for='email')=userProperties.email
                br
                input(name='email',type='email',placeholder=userProperties.email,value=user.email)
                p
                lable(for='username')=userProperties.username
                br
                input(name='username',type='text',placeholder=userProperties.username,value=user.username)
                p
                lable(for='password')=userProperties.password
                br
                p ******
                lable(for="role")=userProperties.role.name
                br
                select(name="role" disabled)
                    each value, key in userProperties.role.values
                        option(value=key,selected=(user.role == key))=value
                p
                button(type='submit')=edit.submit
    script.
        $('form').submit(function (event) {
            event.preventDefault();
            let form = $(this);
            $.ajax({
                type: 'put',
                url: '',
                data: form.serialize(),
                success: function (data) {
                    location.replace(`/profile/${data.username}`);
                },
                error: function (err) {
                    if(err.status == 400) {
                        let errors = err.responseJSON;
                        $('lable').each(function () {
                                let name = $(this).attr('for');
                            if (errors[name]) {
                                $(this).find('~ p').text(errors[name].message);
                            } else {
                                $(this).find('~ p').empty();
                            }
                        });
                    }
                }
            });
        })