extends ../layouts/main

block content
    main
        form
            fieldset
                legend=create.title
                lable(for='title')= componentProperties.type
                br
                select(name='components')
                    each component in components
                        option(value=component.type)= component.name
                p
                lable(for='name')= pageProperties.name
                br
                input(name='name',type='text',placeholder=pageProperties.name)
                p
                button(type='submit')= add.submit
    script.
        $('#add').click(function() {
            $(this).before($('select[name="components"]:first').clone()).before($('<p>'));
        });
        $('form').submit(function (event) {
            event.preventDefault();
            let form = $(this);
            $.ajax({
                type: 'post',
                url: '',
                data: form.serialize(),
                success: function () {
                    location.replace('/admin/users');
                },
                error: function (err) {
                    if(err.status == 400) {
                        let errors = err.responseJSON;
                        $('lable').each(function () {
                            let name = $(this).attr('for');
                            if (errors[name]) {
                                $(this).find('~ p').text(errors[name].message);
                            } else {
                                $(this).find('~ p').empty();
                            }
                        });
                    }
                }
            });
        })
