extends ../layouts/main

block content
    form.ui.form
        .field
            label(for='languages.available')=settingsProperties.languages.available
            select.ui.dropdown(name='languages.available', multiple)
                each name, key in settings.languages.all
                    option(value=key, selected=settings.languages.available.value.includes(key))= name
        .field
            label(for='languages.admin')=settingsProperties.languages.admin
            select.ui.dropdown(name='languages.admin')
                each key in settings.languages.available.value
                    option(value=key,selected=(key==settings.languages.admin.value))=settings.languages.all[key]
        .field
            label(for='languages.client')=settingsProperties.languages.client
            select.ui.dropdown(name='languages.client')
                each key in settings.languages.available.value
                    option(value=key,selected=(key==settings.languages.client.value))=settings.languages.all[key]
        fieldset(name='format')
            legend=localization.format
            fieldset(name='date')
                legend=settingsProperties.format.date.name
                p#date= new Intl.DateTimeFormat(locale, dateformat).format(Date.now())
                label(for='format.date.year')=settingsProperties.format.date.properties.year
                br
                select.ui.dropdown(name='format.date.year')
                    option(selected, value)= localization.skip
                    each key in settings.format.date.year.enum
                        option(value=key, selected=(key==settings.format.date.year.value))= settingsProperties.format.enum[key]
                p
                label(for='format.date.month')=settingsProperties.format.date.properties.month
                br
                select.ui.dropdown(name='format.date.month')
                    option(selected, value)= localization.skip
                    each key in settings.format.date.month.enum
                        option(value=key, selected=(key==settings.format.date.month.value))= settingsProperties.format.enum[key]
                p
                label(for='format.date.day')=settingsProperties.format.date.properties.day
                br
                select.ui.dropdown(name='format.date.day')
                    option(selected, value)= localization.skip
                    each key in settings.format.date.day.enum
                        option(value=key, selected=(key==settings.format.date.day.value))= settingsProperties.format.enum[key]
                p
                label(for='format.date.weekday')=settingsProperties.format.date.properties.weekday
                br
                select.ui.dropdown(name='format.date.weekday')
                    option(selected, value)= localization.skip
                    each key in settings.format.date.weekday.enum
                        option(value=key, selected=(key==settings.format.date.weekday.value))= settingsProperties.format.enum[key]
                p
            fieldset(name='time')
                legend=settingsProperties.format.time.name
                p#time= new Intl.DateTimeFormat(locale, timeformat).format(Date.now())
                label(for='format.time.hour')=settingsProperties.format.time.properties.hour
                br
                select.ui.dropdown(name='format.time.hour')
                    option(selected, value)= localization.skip
                    each key in settings.format.time.hour.enum
                        option(value=key, selected=(key==settings.format.time.hour.value))= settingsProperties.format.enum[key]
                p
                label(for='format.time.minute')=settingsProperties.format.time.properties.minute
                br
                select.ui.dropdown(name='format.time.minute')
                    option(selected, value)= localization.skip
                    each key in settings.format.time.minute.enum
                        option(value=key, selected=(key==settings.format.time.minute.value))= settingsProperties.format.enum[key]
                p
                label(for='format.time.second')=settingsProperties.format.time.properties.second
                br
                select.ui.dropdown(name='format.time.second')
                    option(selected, value)= localization.skip
                    each key in settings.format.time.second.enum
                        option(value=key, selected=(key==settings.format.time.second.value))= settingsProperties.format.enum[key]
                p
                label(for='format.time.timeZoneName')=settingsProperties.format.time.properties.timeZoneName
                br
                select.ui.dropdown(name='format.time.timeZoneName')
                    option(selected, value)= localization.skip
                    each key in settings.format.time.timeZoneName.enum
                        option(value=key, selected=(key==settings.format.time.timeZoneName.value))= settingsProperties.format.enum[key]
                p
    script.
        $('.ui.dropdown').dropdown();
        $('select').change(function() {
            $.ajax({
                type: 'put',
                url: '/admin/settings',
                data: $(this).serialize().replace(/^|\&/g, '$&localization.'),
                success: function(data){
                    
                }
            });
        });