extends ../layouts/main

block content
    form
        fieldset
            legend=settings.settings
            lable(for='title')=settings.title
            br
            input(name='title',type='text',placeholder=settings.title,value=values.title)
            br
            lable(for='keywords')=settings.keywords
            br
            input(name='keywords',type='text',placeholder=settings.keywords,value=values.keywords)
            p
            lable(for='dateFormat')=settings.dateFormat
            br
            input(name='dateFormat',type='text',placeholder=settings.dateFormat,value=values.dateFormat)
            p
            lable(for='availableLanguages')=settings.availableLanguages
            br
            select(name='availableLanguages', multiple=true)
                each name, key in values.languages.all
                    option(value=key, selected=values.languages.available.includes(key))= name
            p
            lable(for='mainLanguage')=settings.mainLanguage
            br
            select(name="mainLanguage")
                each key in values.languages.available
                    option(value=key,selected=(key == values.languages.main))=values.languages.all[key]
            p
            button(type='submit') submit
    script.
        $('select[name="availableLanguages"] option').click(function(e) {
            $(this).attr('selected', 'true');
        });
        $('form').submit(function (event) {
           event.preventDefault();
           let form = $(this);
           console.log(form.serialize());
        });